*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;;
    font-style: normal;
    font-weight: normal;
    margin: 5% 10%;
}

header{
    display: flex;
    flex-direction: row;
    margin-bottom: 9vh;

    h1{
        white-space: nowrap;
        font-size: 3.5vmax;
    }

    h3{
        font-size: 2.3vmax;
    }

    h5{
        font-size: 1.5vmax;
        font-weight: 500;
        margin-top: 3.5%;
    }

    #who{
        margin-left: 21%;
    }
}

.main-section{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, auto));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    row-gap: 2%;
    column-gap: 5%;
    margin-bottom: 10%;
}

.card{

    div{
        display: flex;
        flex-direction: row;

        img{
            margin-right: 2.5%;
            width: 85%;
        }

        p{
            writing-mode: vertical-rl;
            white-space: nowrap;
            display: block;
            font-size: 1.3vmax;
            text-transform: uppercase;
        }

    }

    .name{
        margin-top: 3%;
        font-size: 1.5vmax;
    }
}

footer{
    text-align: center;
    margin-bottom: 1%;
}


@media screen and (min-width: 769px) { 

    .card-b{
        margin-bottom: 30%;
    }
    
    .card-t{
        margin-top: 30%;
    }

}

@media screen and (max-width: 768px) {
    header{
        display: block;

        #who {
            margin-top: 10%;
            margin-left: 0;
        }
    }

    .main-section{
        grid-template-columns: repeat(2, minmax(50px, auto));
    }

    footer{
        margin: 15% 0 3% 0;
        font-size: 0.5rem;;
    }

    .mobile-t{
        margin-bottom: 0;
        margin-top: 25%;
    }

    .mobile-b{
        margin-top: 0;
        margin-bottom: 25%;
    }
}